In [2]:
import pandas as pd
import numpy as np

df_wine=pd.read_csv(r'F:\\csv file\\winequality-red.csv',sep=';')
df_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
def ranker(df):
    df['alc_content_rank']=np.arange(len(df))+1
    return df

In [12]:
df_wine.sort_values(by='alcohol',ascending=False,inplace=True)

In [21]:
df_wine=df_wine.groupby(df_wine['quality']).apply(ranker)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_10096\3713078971.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_wine=df_wine.groupby(df_wine['quality']).apply(ranker)

In [27]:
df_wine

                      fixed acidity  volatile acidity  citric acid  \
quality quality
3       3       899             8.3             1.020         0.02
                1299            7.6             1.580         0.00
                690             7.4             1.185         0.00
                1478            7.1             0.875         0.05
                1505            6.7             0.760         0.02
...                             ...               ...          ...
8       8       1449            7.2             0.380         0.31
                495            10.7             0.350         0.53
                498            10.7             0.350         0.53
                1403            7.2             0.330         0.33
                440            12.6             0.310         0.72

                      residual sugar  chlorides  free sulfur dioxide  \
quality quality
3       3       899             3.40      0.084                  6.0
                1299            2.10      0.137                  5.0
                690             4.25      0.097                  5.0
                1478            5.70      0.082                  3.0
                1505            1.80      0.078                  6.0
...                              ...        ...                  ...
8       8       1449            2.00      0.056                 15.0
                495             2.60      0.070                  5.0
                498             2.60      0.070                  5.0
                1403            1.70      0.061                  3.0
                440             2.20      0.072                  6.0

                      total sulfur dioxide  density    pH  sulphates  alcohol  \
quality quality
3       3       899                   11.0  0.99892  3.48       0.49    11.00
                1299                   9.0  0.99476  3.50       0.40    10.90
                690                   14.0  0.99660  3.63       0.54    10.70
                1478                  14.0  0.99808  3.40       0.52    10.20
                1505                  12.0  0.99600  3.55       0.63     9.95
...                                    ...      ...   ...        ...      ...
8       8       1449                  29.0  0.99472  3.23       0.76    11.30
                495                   16.0  0.99720  3.15       0.65    11.00
                498                   16.0  0.99720  3.15       0.65    11.00
                1403                  13.0  0.99600  3.23       1.10    10.00
                440                   29.0  0.99870  2.88       0.82     9.80

                      quality  alc_content_rank
quality quality
3       3       899         3                 1
                1299        3                 2
                690         3                 3
                1478        3                 4
                1505        3                 5
...                       ...               ...
8       8       1449        8                14
                495         8                15
                498         8                16
                1403        8                17
                440         8                18

[1599 rows x 13 columns]

In [25]:
num=df_wine['quality'].value_counts()
num

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [26]:
df_wine[df_wine.alc_content_rank==1].head(len(num))

,,,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_content_rank
quality,quality,,,,,,,,,,,,,,
3,3,899,8.3,1.02,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3,1
4,4,45,4.6,0.52,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4,1
5,5,652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
6,6,142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,1
7,7,821,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7,1
8,8,1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8,1