In [1]:
import pandas as pd
import numpy as np

data={'sample':[1,2,3,4,5,6],
      'Animal':['dog','dog','cat','cat','dog','cat'],
      'intelligence':['smart','smart','dump','dump','dump','smart']}

df=pd.DataFrame(data)
df

   sample Animal intelligence
0       1    dog        smart
1       2    dog        smart
2       3    cat         dump
3       4    cat         dump
4       5    dog         dump
5       6    cat        smart

In [3]:
pd.crosstab(df.Animal,df.intelligence,margins=True)

intelligence  dump  smart  All
Animal
cat              2      1    3
dog              1      2    3
All              3      3    6