In [1]:
import pandas as pd
import numpy as np

animal=pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['Dog','Cat','Bird','Mouse'],
                    columns=['W','X','Y','Z'])
animal

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [4]:
animal=animal.replace([4,6],np.nan)

In [5]:
animal

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [10]:
behaviour={'W':'good','X':'bad','Y':'good','Z':'bad'}
animal_col=animal.groupby(behaviour,axis=1)
animal_col.mean()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_4288\2285515004.py:2: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  animal_col=animal.groupby(behaviour,axis=1)

        bad  good
Dog     2.0   1.0
Cat     6.0   NaN
Bird   10.0   9.0
Mouse  14.0  13.0

In [11]:
behaviour

{'W': 'good', 'X': 'bad', 'Y': 'good', 'Z': 'bad'}

In [12]:
ser_beha=pd.Series(behaviour)
ser_beha

W    good
X     bad
Y    good
Z     bad
dtype: object

In [14]:
animal.groupby(ser_beha,axis=1).count()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_4288\2741308410.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  animal.groupby(ser_beha,axis=1).count()

       bad  good
Dog      2     2
Cat      2     0
Bird     2     2
Mouse    2     2

In [15]:
animal.groupby(len).sum()

      W   X     Y   Z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [19]:
key=['A','B','A','B']
animal.groupby([len,key]).sum()

        W   X     Y   Z
3 A   0.0   1   2.0   3
  B   0.0   5   0.0   7
4 A   8.0   9  10.0  11
5 B  12.0  13  14.0  15